# Configuración del servidor de correo saliente
# Si usas Gmail, el puerto es 587
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Tu correo electrónico desde el que se enviará la alerta
SMTP_USER=tu-correo@gmail.com

# Contraseña de Aplicación de Gmail (NO es la contraseña de tu cuenta)
# Guía: https://support.google.com/accounts/answer/185833
SMTP_PASSWORD=xxxx xxxx xxxx xxxx

# A qué correo electrónico quieres recibir las notificaciones
# (Puede ser el mismo que el SMTP_USER o cualquier otro)
ALERT_EMAIL_TO=tu-correo-personal@gmail.com
